<p>termos works!</p>
<div class="container">
    <div class="main">
        <div class="header">
            <div class="title">
                <h3>TERMOS DE USO E POLÍTICA</h3>
            </div>
        </div>
        <br>
        <div class="termos">
            <!-- <h5>TERMOS DE USO E POLÍTICA</h5> -->
            <div class="lista-termos">
                <span>A <b>política de privacidade</b> (ou declaração de política de privacidade) é o documento por meio do qual a pessoa física ou jurídica que mantém um site ou aplicativo expõe e explica a todos os interessados a forma como os dados pessoais dos usuários da plataforma serão tratados.

                    O assunto é regulamentado, no Brasil, principalmente pela <b>Lei Geral de Proteção de Dados Pessoais (LGPD)</b>, lei que estabeleceu uma série de exigências àqueles que realizam operações de tratamento de dados pessoais. A lei se aplica:
                    <ul>
                        <li>se a <b>operação de tratamento</b> é realizada no território nacional;</li>
                        <li>se a <b>atividade de tratamento</b> tem por objetivo a oferta de produtos ou serviços ou o tratamento de dados de indivíduos localizados no território nacional;</li>
                        <li>se os <b>dados pessoais</b> são coletados no território nacional.;</li>
                    </ul>
                    
                    se os dados pessoais são coletados no território nacional.
                    Pela lei, dado pessoal é qualquer informação relacionada a pessoa identificada ou identificável.
                    
                    A expressão "tratamento de dados pessoais" abrange praticamente tudo aquilo que se pode fazer com estes dados, como as atividades de coleta, produção, recepção, classificação, utilização, acesso, reprodução, transmissão, distribuição, processamento, arquivamento, armazenamento, eliminação, avaliação ou controle da informação, modificação, comunicação, transferência, difusão ou extração.
                    
                    Entre as obrigações que a lei impõe a quem realiza qualquer destas atividades, está a de ser transparente. Dessa forma, todo aquele que trata dados pessoais, incluindo os mantenedores de sites ou aplicativos, deve informar os titulares dos referidos dados, por exemplo, acerca da forma como são utilizados e dos motivos pelos quais são tratados.
                    
                    Por meio do presente modelo, será possível, dentre outros:
                    
                    <ul>
                        <li>informar ao usuário do site ou aplicativo quem é o controlador dos dados pessoais, ou seja, quem é a pessoa física ou jurídica que decide o que se faz com os dados coletados, armazenados ou, de qualquer outra forma, utilizados;</li>
                        <li>informar ao usuário do site ou aplicativo quais são os <b>dados pessoais coletados e utilizados pelo site ou aplicativo</b>, explicitando os momentos nos quais as coletas são realizadas e as finalidades para as quais os dados são utilizados;</li>
                        <li>informar ao usuário quais são seus direitos e as formas pelas quais pode exercê-los;</li>
                        <li>informar ao usuário os meios de contato com o <b>Encarregado de Proteção de Dados Pessoais</b> (Data Protection Officer - DPO);</li>
                        <li>informar ao usuário quais são as bases legais que fundamentam o tratamento de dados pessoais.</li>
                    </ul>
                    
                    
                    <b>Este documento não abrange as normas contidas no Regulamento Geral de Proteção de Dados da União Europeia (RGPD ou GDPR).</b><br><br>
                    
                     
                    
                    O que são dados pessoais?<br><br>
                    
                    A lei brasileira define <b>"dado pessoal"</b> como todo aquele que se refira a uma pessoa física identificada ou identificável. Na prática, a expressão compreende todo dado que permite identificar uma pessoa ou que se relacione a uma pessoa específica. Além dos dados normalmente entendidos como pessoais (tais como nome, endereço, data de nascimento, CPF etc.), é possível que diversos outros também o sejam, como um histórico de compras, de fotos ou de mensagens.
                    
                    Assim, para dizer se um dado é pessoal ou não, o contexto é importante, de modo que um dado considerado pessoal em um caso pode não ser em outro, a depender da possibilidade ou não de se identificar uma pessoa a partir dele ou do fato de ele estar ou não vinculado a um usuário específico.
                    
                    Além disso, os dados pessoais podem ser sensíveis ou não. Pela LGPD, um dado sensível é todo dado pessoal sobre origem racial ou étnica, convicção religiosa, opinião política, filiação a sindicato ou a organização de caráter religioso, filosófico ou político, dado referente à saúde ou à vida sexual, dado genético ou biométrico, quando vinculado a uma pessoa natural.
                    
                    <b>Na política de privacidade</b>, deverão ser especificados os dados dos usuários que serão tratados, incluindo informações como momento em que são coletados, finalidades do tratamento e prazos de armazenamento.
                    
                     </span>
            </div>
        </div>
        <br><br>
        <br><br>
        <div class="infos">
            <h5>EXTRAS</h5>
            <div class="add-infos">
                <p></p>
            </div>
        </div>
    </div>
</div>