
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300); 

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #121214;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 450px;
    gap: 4%;
}

.logo{
    display: flex;
    margin-bottom: 12%;
    margin-top: -50px;
    justify-content: center;
    align-items: center;
}

.logo i{
    margin-right: 10px;
    font-size: 30px;
}

.logo-ocult{
    padding-top: 25%;
    display: flex;
    margin-bottom: 8%;
    margin-top: -50px;
    justify-content: center;
    align-items: center;
}

.logo-ocult i{
    margin-right: 10px;
    font-size: 30px;
}

.main-text{
    width: 50%;
    height: 100%;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 2%;
    font-size: 42px;
    line-height: 64px;
    color: #c4ff30;
}

.main-text-ocult{
    width: 50%;
    height: 100%;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 2%;
    font-size: 42px;
    line-height: 64px;
    color: #c4ff30;
}

.dados-register{
    width: 50%;
    height: 110%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202024;
    border-radius: 10px;
    /* border: 1px black solid; */
    box-shadow: 1px 2px 3px #1c1b244a, 0 0 5px rgba(204, 237, 0, 0.5);
    max-width: 80%;
}

.content{
    max-width: 300px;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px black solid; */
}

input{
    margin-bottom: 4%;
    width: 100%;
    height: 45px;
    font-size: 16px;
    background: #121214;
    border-color: #121214;
    color: #deff05;
    padding: 0px 1em 0px 2.65em;
    border-radius: 5px;
    outline: none;
    transition: 0.5s;
}

.content > form > p{
    height: 25px;
    margin-bottom: 6%;
    font-size: 15px;
    color: #CCED00;
    font-weight: bold;
}

input:focus {
    color: rgb(255, 255, 255);
    border: 2px solid #CCED00;
  }

// button{
//     width: 100%;
//     background: #b3ce04;
//     border-radius: 5px;
//     border: 0px;
//     color: rgb(255, 255, 255);
//     font-weight: bold;
//     height: 45px;
//     font-size: 16px;
//     text-transform: uppercase;
// }

// button:hover{
//     background: #9eb507;
//     cursor: pointer;
//     transition: 0.4s;
// }

.custom-btn {
    border-radius: 5px;
    width: 100%;
    height: 45px;
    background: #b3ce04;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
  }

.custom-btn.desabilitado {
    border-radius: 5px;
    width: 100%;
    height: 45px;
    background: #b3ce0454;
    font-size: 16px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.539);
    border-radius: 5px;
    padding: 10px 25px;
    cursor: not-allowed;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
  }

.btn-15 {
    border: none;
    z-index: 1;
  }

  .btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #9eb507;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .btn-15:hover {
    color: #fff;
  }
  .btn-15:hover:after {
    left: 0;
    width: 100%;
  }
  .btn-15:active {
    top: 2px;
  }

hr{
    border: 1px solid #d9dbff;
    margin-top: 5%;
    margin-bottom: 7%;
}

.footer-register{
    margin-top: 6%;
    display: flex;
    justify-content: space-between;
}

.footer-register label{
    margin-right: -1px;
}

.footer-register > button{
    width: 69%;
    height: 45px;
    margin-left: 2%;
    background-color: #c2c5fc;
}

.footer-register button:hover{
    background: #9eb507;
    cursor: pointer;
    transition: 0.6s;
}

button i{
    margin-right: 2%;
}

span{
    font-size: 13px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.aceite{
    font-size: 13px;
    color: black;
    letter-spacing: 0.6px;
    opacity: 0.8;
    display: flex;
    align-items: center;
    line-height: 18px;
}

.aceite > span > a{
    color: #deff05;
    font-weight: bold;
    text-decoration: none;
}

.aceite > span > a:hover{
    color: #9eb507;
    font-weight: bold;
    text-decoration: none;
}

p > a{
    color: #CCED00;
    font-weight: bold;
    font-size: 14px;
    margin-left: 5px;
    text-decoration: none;
}

p > a:hover{
    color: #9eb507;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: 0.4s;
}

.main-text-ocult{
    display: none;
}

.email-invalido {
    animation: transp-transition 1s;
    background-color: #fa131310;
    position: absolute;
    bottom: 40px;
    left: 40px;
    height: 7%;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: rgb(209, 37, 37);
    border: 3px solid #9b0e0e70;
    padding: 15px;

    p {
        font-size: 18px;
    }
}

.email-invalido.open {
    display: flex; /* Muda para display flex quando a classe .mostrar é aplicada */
    opacity: 1; /* Torna o elemento visível (opacity: 1) */
}

.alerta {
    animation: transp-transition 1s;
    background-color: #fa131310;
    position: absolute;
    bottom: 40px;
    left: 40px;
    height: 7%;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: rgb(209, 37, 37);
    border: 3px solid #9b0e0e70;
    padding: 15px;

    p {
        font-size: 18px;
    }
}

.alerta.open {
    display: flex; /* Muda para display flex quando a classe .mostrar é aplicada */
    opacity: 1; /* Torna o elemento visível (opacity: 1) */
}

.cadSuccesso {
    animation: transp-transition 1s;
    background-color: #d4e850;
    position: absolute;
    bottom: 40px;
    left: 40px;
    height: 7%;
    justify-content: center;
    display: none;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    border: 3px solid #434f03a8;

    p {
        font-size: 16px;
    }
}

.cadSuccesso.open {
    display: flex; /* Muda para display flex quando a classe .mostrar é aplicada */
    opacity: 1; /* Torna o elemento visível (opacity: 1) */
}

.preencherCampos {
    animation: transp-transition 1s;
    background-color: #e68d1126;
    position: absolute;
    bottom: 40px;
    left: 40px;
    height: 7%;
    justify-content: center;
    display: none;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    color: rgb(251, 105, 52);
    border: 3px solid rgb(251, 105, 52);
    display: none;

    p {
        font-size: 16px;
    }
}

.preencherCampos.open {
    display: flex; /* Muda para display flex quando a classe .mostrar é aplicada */
    opacity: 1; /* Torna o elemento visível (opacity: 1) */
}

.alertaEmail {
    animation: transp-transition 1s;
    background-color: #e68d1126;
    position: absolute;
    bottom: 40px;
    left: 40px;
    height: 7%;
    justify-content: center;
    display: none;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    color: rgb(251, 105, 52);
    border: 3px solid rgb(251, 105, 52);
    display: none;

    p {
        font-size: 16px;
    }
}

.alertaEmail.open {
    display: flex; /* Muda para display flex quando a classe .mostrar é aplicada */
    opacity: 1; /* Torna o elemento visível (opacity: 1) */
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid #CCED00;
  -webkit-text-fill-color: #CCED00;
  -webkit-box-shadow: 0 0 0px 1000px #121214 inset;
  font-size: 16px;
  background: #121214;
  transition: background-color 5000s ease-in-out 0s;
}

@keyframes transp-transition {
    0% {opacity: 0;
        transition: opacity 1.2s;
    }
    100% {
        opacity: 1;
        transition: opacity 1.2s;
    }
    0% {
        opacity: 0;
       
    }
}

@media (max-width: 900px) {

    .main{
        width: 80%;
        padding: 50px 0;
        height: 90%;
        display: flex;
        flex-direction: column;
    }

    .main-text h3{
        display: none;
    }

    .logo{
        display: none;
    }

    .main-text-ocult{
        display: block;
    }

    .dados-register{
        width: 100%;
    }

    .logo{
        margin: 5% 0;
    }

    .dados-register > div{
        padding-top: 20px;
    }
}