/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #121214;
}

:root{
    --menu-purple: #6665D3;
}